#*.txt
**/log*
**/logs
**/*.log
out
**/node_modules
**/rough
**/package.json
**/package-lock.json
**/chrome_113
**/ss
**/browsermob-proxy
**/archive
**/*.wprgo
**/wpr_data
**/*.xlsx
**/*.pyc
**/__pycache__
**/proxy/data
**/*.tar.gz
**/*.zip
**/xlsx
**/data_1000
**/blacklists
**/strippeddownblacklist.txt
**/path_ss
**/json_time
**/data/
**/webdata/
**/data_*/
**/measure
performance/*.pdf
**/stats_*/*.pdf
plot_performance.json
performance/process/web_data_stats/
*/venv